:root{
    font-size: 16px;
}

%animation-default{
    opacity: 1 !important;
    z-index: 3;
}


@font-face {
    font-family: "Caveat";
    src: url(../fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Callient";
    src: url(../fonts/Callient.otf);
}

@mixin carousel($items, $animation: 'default') {
    .carousel{
        width: 100%;
        position: relative;
        overflow: hidden;

        > input[type="radio"] {
            position: absolute;
            left: 0;
            opacity: 0;
            top: 0;

            &:checked{
                ~ .carousel-items .carousel-item,
                ~ .carousel-prev > label,
                ~ .carousel-next > label {
                    opacity: 0;
                }
            }

            @for $i from 1 to $items {
                &:nth-child(#{$i}){
                    &:checked {
                        ~ .carousel-items .carousel-item {
                            @if $animation == 'default' {
                                &:nth-child(#{$i}) {
                                    opacity: 1;
                                }
                            }
                        }

                        ~ .carousel-prev {
                            > label {
                                @if $i == 1 {
                                    &:nth-child(#{$items}) {
                                        @extend %animation-default;
                                    }
                                } @else if $i == $items {
                                    &:nth-child(#{$items - 1}) {
                                        @extend %animation-default;
                                    }
                                } @else {
                                    &:nth-child(#{$i -1}) {
                                        @extend %animation-default;
                                    }
                                }
                            }
                        }

                        ~ .carousel-next {
                            > label {
                                @if $i == $items {
                                    &:nth-child(1) {
                                        @extend %animation-default;
                                    }
                                } @else {
                                    &:nth-child(#{$i + 1}) {
                                        @extend %animation-default;
                                    }
                                }
                            }
                        }

                        ~ .carousel-nav {
                            > label {
                                &:nth-child(#{$i}) {
                                    background: #ccc;
                                    cursor: pointer;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// *:not(i){font-family: 'Raleway', sans-serif;}

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body{
    // max-height: 100vh;
    // max-width: 100vw;
    // margin: 10%;
    font-size: 1rem;
    overflow-x: hidden;
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
}

div.container{
    background: #ede2cd;
    margin: 5rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Callient;
    font-size: 3rem;
    color: rgb(50, 68, 54);
}

p{
    margin: 1rem 3rem;
    line-height: 1.5;
    font-family: Caveat;
    font-size: 1.3rem;
}

@media screen and (max-width: 480px) {
    body {
      background: url(../img/bg1.jpg) no-repeat;
      background-size: cover;
      background-position: right;
    }

    div.container{
        margin: 5%;
        padding: 2%;
    }

    h1{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    audio{
        width: 90%;
    }
  }